<style>
  .quickSearchResultsBlock {
    /* display: none; */
    display: block;
  }

  .quickSearchResultsBlock.is-show {
    display: block;
  }

  .quickSearchTab__list {
    display: flex;
    gap: 24px;
    background: none;
    border: none;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
  }

  .quickSearchTab__list ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .quickSearchTab__list li {
    margin: 0;
  }

  .quickSearchTab__list a {
    display: flex;
    padding: 10px 33px 10px 33px;
    min-height: 45px;
    font-size: 14px;
  }

  .quickSearchTab__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    box-shadow: none;
    outline: none;
  }

  .quickSearchTab__tab.active {
    background: #fff;
    border: 1px solid #000000;
    font-weight: 600;
    color: #000000;
  }

  .quickSearchTab__tab:not(.active):hover {
    background: #ececec;
  }
  .quickSearchTab__item--all {
    /* display: flex; */
  }
  .quickSearchResultsBlock .quickSearchTab__item {
    display: block;
  }

  #predictive-search-results .quickSearchTab__item:not(.active) {
    display: none;
  }
  .show-search-all .blockProductSearch--first,
  .show-search-all .blockProductSearch--second {
    display: block;
  }

  .show-search-all .blockProductSearch__image {
    display: none;
  }
  .show-search-tab1 .blockProductSearch--second {
    display: none;
  }

  .show-search-tab2 .blockProductSearch--first {
    display: none;
  }

  .show-search-tab1 .blockProductSearch--first,
  .show-search-tab2 .blockProductSearch--second {
    width: 88% !important;
  }

  .blockProductSearch__heading {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }

  .blockProductSearch {
    padding-left: 16px;
    padding-right: 16px;
  }

  .quickSearchTab__content  {
   
  }

  .quickSearchTab__content .slick-list {
      overflow: visible;
      clip-path: inset(0 -100% 0 0);
      margin-left: -16px;
      margin-right: -16px;
  }

  .blockProductSearch__image {
    width: 100%;
    max-width: 370px;
    min-width: 370px;
  }
</style>

<div
  class="quickSearchResultsBlock quickSearchResultsWidget quickSearchResultsWrap is-show"
  data-quick-trending-products
>
  <div class="quickSearchResults custom-scrollbar">
    <div class="container">
      <div class="quickSearchTab__list">
        <ul>
          <li>
            <a href="#search-all" class="quickSearchTab__tab active">Alle</a>
          </li>
          <li>
            <a href="#search-tab1" class="quickSearchTab__tab">{{ settings.quick_search_tab_1 }}</a>
          </li>
          <li>
            <a href="#search-tab2" class="quickSearchTab__tab">{{ settings.quick_search_tab_2 }}</a>
          </li>
        </ul>
      </div>

      <div class="quickSearchTab__content show-search-all">
        <div class="quickSearchTab__item quickSearchTab__item--all active" id="search-all">
          <div class="blockProductSearch blockProductSearch--first">
            <h5 class="blockProductSearch__heading">{{ settings.quick_search_tab_1 }}</h5>
            <div class="flex">
              <div class="dis-grid grid-col-1 md:grid-col-5 flex-1">
              {%- if settings.quick_search_collection_1.products[0] != null -%}
                {%- for product in settings.quick_search_collection_1.products limit: 5 -%}
                  <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
                    {% render 'product-grid-layout',
                      product_card_product: product,
                      show_add_to_cart: true,
                      serial: forloop.index,
                      sectionId: section.id,
                      show_list: true,
                      loading: true
                    %}
                  </div>
                {%- endfor -%}
              {%- else -%}
                {%- for product in (1..5) -%}
                  <div class="product{% if swipe %} slider__slide grid__item{% endif %}">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {% render 'product-card-placeholder', index: current %}
                  </div>
                {%- endfor -%}
              {%- endif -%}
            </div>
             {% if settings.quick_search_image_1 != blank %}
                <div class="blockProductSearch__image">
                        <a href="{{- settings.quick_search_link_1 -}}" class="image" style="padding-top: 100.0%" title="QMCar">
                          <img src="{{ settings.quick_search_image_1 | img_url: 'master' }}" alt="{{ settings.quick_search_image_1.alt | default: shop.name | escape }}">
                        
                        <div class="promo-text">
                            <h4 class="promo-text-heading" style="--fontsize_title_banner: {{ fontsize_title_banner }}px; --fontsize_title_banner_mb: {{ fontsize_title_banner_mb }}px;">{{- settings.quick_search_title_1 -}}</h4>
                            <span class="promo-text-des">{{- settings.quick_search_description_1 -}}</span>
                            {% if settings.quick_search_text_link_1 != blank %}
                                <div class="button button--primary">
                                    <span>{{- settings.quick_search_text_link_1 -}}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>  
                </div>
              {% endif %}
            </div>
          </div>

          <div class="blockProductSearch blockProductSearch--second">
            <h5 class="blockProductSearch__heading">{{ settings.quick_search_tab_2 }}</h5>
            <div class="flex">
              <div class="dis-grid grid-col-1 md:grid-col-5 flex-1">
              {%- if settings.quick_search_collection_2.products[0] != null -%}
                {%- for product in settings.quick_search_collection_2.products limit: 5 -%}
                  <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
                    {% render 'product-grid-layout',
                      product_card_product: product,
                      show_add_to_cart: true,
                      serial: forloop.index,
                      sectionId: section.id,
                      show_list: true,
                      loading: true
                    %}
                  </div>
                {%- endfor -%}
              {%- else -%}
                {%- for product in (1..5) -%}
                  <div class="product{% if swipe %} slider__slide grid__item{% endif %}">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {% render 'product-card-placeholder', index: current %}
                  </div>
                {%- endfor -%}
              {%- endif -%}
            </div>

             {% if settings.quick_search_image_2 != blank %}
                <div class="blockProductSearch__image">
                        <a href="{{- settings.quick_search_link_2 -}}" class="image" style="padding-top: 100.0%" title="QMCar">
                          <img src="{{ settings.quick_search_image_2 | img_url: 'master' }}" alt="{{ settings.quick_search_image_2.alt | default: shop.name | escape }}">
                        
                        <div class="promo-text">
                            <h4 class="promo-text-heading" style="--fontsize_title_banner: {{ fontsize_title_banner }}px; --fontsize_title_banner_mb: {{ fontsize_title_banner_mb }}px;">{{- settings.quick_search_title_2 -}}</h4>
                            <span class="promo-text-des">{{- settings.quick_search_description_2 -}}</span>
                            {% if settings.quick_search_text_link_2 != blank %}
                                <div class="button button--primary">
                                    <span>{{- settings.quick_search_text_link_2 -}}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>  
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function initialSlick() {
    $('.quickSearchTab__item--all').slick({
      slidesToShow: 1.5,
      slidesToScroll: 1,
      infinite: false,
    });
  }
    
  function activeSearchTab() {
    const quickSearchResultsBlock = document.querySelector('.quickSearchResultsBlock');
    const quickSearchTabList = document.querySelector('.quickSearchTab__list');
    const quickSearchTabContent = document.querySelector('.quickSearchTab__content');

    quickSearchTabList.addEventListener('click', function (event) {
      if (event.target.classList.contains('quickSearchTab__tab')) {
        event.preventDefault();
        quickSearchTabList.querySelectorAll('.quickSearchTab__tab').forEach(function (tab) {
          tab.classList.remove('active');
        });
        event.target.classList.add('active');
        
        const targetId = event.target.getAttribute('href').substring(1);

        if (targetId) {
          const searchIdList = quickSearchTabList.querySelectorAll('a').forEach(function (link) {
            const id = link.getAttribute('href').substring(1);
            quickSearchTabContent.classList.remove("show-" + id);
          });
          
          quickSearchTabContent.classList.add("show-" + targetId);
        }
      }
    });
  }

  function openSearchResults() {
    const searchIcon = document.querySelector("[data-search-menu]");
    const closeButton = document.querySelector(".quickSearch__close");
    if (!searchIcon) return;
    
    searchIcon.addEventListener("click", function () {
      console.log("Search results opened");
      
      initialSlick();
      setTimeout(() => {
        $('.quickSearchTab__item--all').slick('setPosition');
        console.log("Search results slick initialized");
        
      }, 700);
    });

    if (closeButton) {
      closeButton.addEventListener("click", function () {
        // $('.quickSearchTab__item--all').slick('unslick');
        console.log("Search results closed");
      });
    }
  }

  activeSearchTab();
  openSearchResults();

</script>
