{%- if section.blocks.size > 0 -%}
  <style type="text/css">
    @keyframes SlideLeft {0% {transform: translate3d(0,0,0)} 100% {transform: translate3d(-100%,0,0)}}
    #shopify-section-{{ section.id }} .announcement-bar {padding-top: {{ section.settings.padding_top }}px;padding-bottom: {{ section.settings.padding_bottom }}px;{% if section.settings.bg_image_announcement != blank %}background-image: url({{ section.settings.bg_image_announcement | img_url: '2048x'}});background-repeat: no-repeat;background-position: center;background-size: cover;{% else %}background: {% if section.settings.bg_color_text_gradient != blank %}{{ section.settings.bg_color_text_gradient }}{% else %}{{ section.settings.bg_color_text }}{% endif %}{% endif %}}
    body.layout_rtl #shopify-section-{{ section.id }} .announcement-bar {direction: ltr}
    .announcement-bar .layout--scroll {max-width: 100%;padding-left: 0; padding-right: 0;overflow: hidden;text-align: right;}
    .header-full-width #shopify-section-announcement-bar .announcement-bar .layout--scroll {padding-left: 0;padding-right: 0}
    .announcement-bar .layout--scroll .row {display: inline-block;text-align: left; white-space: nowrap}
    .announcement-bar__item-scroll {display: inline-block;width: max-content;will-change: transform,width;}
    .announcement-bar .layout--scroll .announcement-bar__item-scroll{animation: SlideLeft {{ timeScroll }}s linear infinite}
    .announcement-bar .layout--scroll:hover .announcement-bar__item-scroll,
    .announcement-bar .layout--scroll:focus .announcement-bar__item-scroll {animation-play-state: paused}
    .announcement-bar .layout--scroll .announcement-bar__message {width: auto;vertical-align: middle}
    .announcement-bar .layout--scroll .announcement-bar__message .message,
    .announcement-bar .layout--scroll .announcement-bar__message p {padding: 5px 12.5px}
    .announcement-bar .announcement-bar__message svg {display: inline-block;vertical-align: middle;width: 16px;height: 16px}
    .announcement-bar .layout--scroll .announcement-bar__message .underline {text-decoration: underline;text-decoration-thickness: 1px;text-underline-offset: 4px}
    #shopify-section-{{ section.id }} .announcement-bar__message, #shopify-section-{{ section.id }} .announcement-bar__message .message, #shopify-section-{{ section.id }} .announcement-bar__message a, #shopify-section-{{ section.id }} .announcement-bar__message p, #shopify-section-{{ section.id }} .top-mesage-countdown {
        color: {{ section.settings.color_text }};font-size: {{ section.settings.font_size_text | append: 'px' }};font-style: {{ section.settings.font_style_text }};font-weight: {{ section.settings.font_weight_text }};{% unless section.settings.enable_close %}letter-spacing: 0 {% endunless %}}
    .announcement-bar .announcement-close.hasCountDown {width: 21px;height: 21px}
    #shopify-section-{{ section.id }} .announcement-bar .announcement-close svg {fill: {{ section.settings.color_text }}}
    #shopify-section-{{ section.id }} .announcement-bar .announcement-countdown .clock-item{color: var(--countdown-text-color);border: 1px solid var(--countdown-text-border);background-color: var(--countdown-text-background)}
    #shopify-section-{{ section.id }} .announcement-bar .announcement-countdown .clock-item:before{color: {{ section.settings.color_text }}}
    {%- if arrow == true -%}
        #shopify-section-{{ section.id }} .announcement-bar .layout--slider .row{max-width: {{section.settings.content_max_width | append: '%'}}; margin: 0 auto}
        #shopify-section-{{ section.id }} .announcement-bar .slick-arrow svg{fill: {{ section.settings.color_text }};color: {{ section.settings.color_text }}}
    {%- endif -%}

    {%- if settings.type_body_line_height == 30 -%}
        .form-input, .field__input,.select__select {line-height: 24px;}
    {%- endif -%}
    .announcement-bar .layout--slider .announcement-bar__message{display: none}
    .announcement-bar .layout--slider .announcement-bar__message:first-child{display: inline-block}
    .announcement-bar .slick-slider .announcement-bar__message{display: inline-block}
    @media (max-width: 1024px){
        .announcement-bar .announcement-countdown+.announcement-close{top: 20%}
        #shopify-section-{{ section.id }} .announcement-bar__message .message.font-size-mb {font-size: calc({{ section.settings.font_size_text | append: 'px' }} - 2px)}
    }
    @media (max-width: 551px){
        {%- if section.settings.bg_image_announcement != blank -%}
        .announcement-bar{background-position: inherit}
        .announcement-bar .announcement-countdown+.announcement-close{top: 18%}
        {%- endif -%}
        #shopify-section-{{ section.id }} .announcement-bar__message .message.font-size-mb {font-size: calc({{ section.settings.font_size_text | append: 'px' }} - 4px)}
        #shopify-section-{{ section.id }} .announcement-bar__message p.custom {font-size: 12px; font-weight: 400;letter-spacing: -0.01em;padding-left: 0;padding-right: 0;}
    }
    .announcement-bar__message.cursor-grab::before {
      content: " ";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-text);
      position: absolute;
      left: 10px;
      top: calc(50% - 3px);
    }
  </style>
  <announcement-slider
    class="announcement-bar d-block"
    role="region"
    aria-label="announcement slider"
  >
    <div class="container-full layout--{{ section.settings.layout }} relative" style="margin-right: -20px;">
      <div class="row" data-announcement-slider style="margin-left: -20px;">
        {%- liquid
          if section.blocks.size <= 10
            assign limitItems = 13 | minus: section.blocks.size
          else
            assign limitItems = 2
          endif
        -%}

        {%- for block in section.blocks -%}
          {%- if block.settings.text != blank -%}
            <div class="announcement-bar__item-scroll">
              <div
                class="announcement-bar__message text-center cursor-grab"
                id="{{block.id}}"
                style="--button-color-style: {{ block.settings.btn_color }};--button-border-style: {{ block.settings.btn_border_color }};--button-background-style: {% if block.settings.btn_bg_color_gradient != blank %}{{ block.settings.btn_bg_color_gradient }}{% else %}{{ block.settings.btn_bg_color }}{% endif %}; --color-text: {{ section.settings.color_text }}"
              >
                {{ block.settings.text }}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </announcement-slider>

  <script>
    class AnnouncementSlider extends HTMLElement {
      constructor() {
        super();
      }

      connectedCallback() {
        this.announcementBarSlider = this.querySelector('[data-announcement-slider]');
        this.announcementHasSlides =
          this.announcementBarSlider?.querySelectorAll('.announcement-bar__message').length > 1;

        this.initSlider();
      }

      initSlider() {
        if (this.announcementHasSlides && !this.announcementBarSlider.classList.contains('slick-initialized')) {
          let showArrows;
          this.announcementBarSlider.dataset.arrows == 'true' || this.announcementBarSlider.dataset.arrows == true
            ? (showArrows = true)
            : (showArrows = false);
          $(this.announcementBarSlider).slick({
            infinite: true,
            vertical: false,
            adaptiveHeight: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            dots: false,
            arrows: showArrows,
            autoplay: true,
            autoplaySpeed: 10000,
            swipeToSlide: true,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1,
                },
              },
              {
                breakpoint: 750,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                },
              },
            ],
          });
        }
      }
    }
    customElements.define('announcement-slider', AnnouncementSlider);
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Slider",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.product_block.settings.general.label__5",
      "default": "slider",
      "options": [
        {
          "value": "slider",
          "label": "t:sections.product_block.settings.general.options__6"
        },
        {
          "value": "scroll",
          "label": "t:sections.main-collection-product-grid.settings.general.infinite_scrolling"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_close",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.enable_close",
      "info": "t:sections.announcement-bar.blocks.announcement.settings.text.info",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "bg_image_announcement",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.countdown.select_image"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.color_text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color_text",
      "label": "t:settings_schema.colors.settings.colors_name.background_color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "bg_color_text_gradient",
      "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
    },
    {
      "type": "range",
      "id": "font_size_text",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.font_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "t:sections.layout.mg_desktop.unit",
      "default": 12
    },
    {
      "type": "select",
      "id": "font_style_text",
      "label": "t:sections.general.settings.typography.font_style",
      "default": "normal",
      "options": [
        {
          "value": "normal",
          "label": "t:settings_schema.typography.settings.font_style.options__1"
        },
        {
          "value": "italic",
          "label": "t:settings_schema.typography.settings.font_style.options__2"
        },
        {
          "value": "oblique",
          "label": "t:settings_schema.typography.settings.font_style.options__3"
        }
      ]
    },
    {
      "type": "select",
      "id": "font_weight_text",
      "label": "t:settings_schema.typography.settings.font_weight.label",
      "default": "500",
      "options": [
        {
          "value": "400",
          "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
          "value": "500",
          "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
          "value": "600",
          "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
          "value": "700",
          "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
          "value": "800",
          "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
          "value": "900",
          "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.product_block.settings.slider.content"
    },
    {
      "type": "checkbox",
      "id": "arrow_active",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.enable_arrows",
      "default": false
    },
    {
      "type": "range",
      "id": "content_max_width",
      "label": "t:sections.custom_map.settings.label__1",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "t:settings_schema.typography.settings.typography.unit_2",
      "default": 38
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.general.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:settings_schema.typography.settings.type_button_font.padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "t:sections.layout.mg_desktop.unit",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:settings_schema.typography.settings.type_button_font.padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "t:sections.layout.mg_desktop.unit",
      "default": 18
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "html",
          "id": "text",
          "label": "t:sections.image-banner.blocks.image.settings.content.label__16",
          "default": "<p>Welcome to our store</p>"
        },
        {
          "type": "paragraph",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "t:settings_schema.colors.settings.colors_name.color",
          "default": "#f84248"
        },
        {
          "type": "color",
          "id": "btn_border_color",
          "label": "t:settings_schema.colors.settings.colors_name.border_color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "t:settings_schema.colors.settings.colors_name.background_color",
          "default": "#ffffff"
        },
        {
          "type": "color_background",
          "id": "btn_bg_color_gradient",
          "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Slider",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
