{%- if predictive_search.performed -%}
  {% assign first_column_results_size = predictive_search.resources.queries.size
    | plus: predictive_search.resources.collections.size
    | plus: predictive_search.resources.pages.size
    | plus: predictive_search.resources.articles.size
  %}
  <div
    id="predictive-search-results"
    class="quickSearchResults quickSearchResultsBlock custom-scrollbar"
  >
    <div class="container">
      {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
        <div class="predictive-search__result-group d-block w-100">
          <div class="quickSearchTab__list">
            <ul>
              <li>
                <a href="#searchResult_all" class="quickSearchTab__tab active">TOP TREFFER ({{- first_column_results_size -}})</a>
              </li>
              <li>
                <a href="#searchResult_product" class="quickSearchTab__tab">PRODUKTE ({{- predictive_search.resources.products.size -}})</a>
              </li>
              <li>
                <a href="#searchResult_collections" class="quickSearchTab__tab">COLLECTIONS ({{- predictive_search.resources.collections.size -}})</a>
              </li>
              <li>
                <a href="#searchResult_articles" class="quickSearchTab__tab">MAGAZIN ({{- predictive_search.resources.articles.size -}})</a>
              </li>
              <li>
                <a href="#searchResult_pages" class="quickSearchTab__tab">SONSTIGE ({{- predictive_search.resources.pages.size -}})</a>
              </li>
            </ul>
          </div>
        </div>
      {%- endif -%}

      <div class="quickSearchTab__content">
        <div class="quickSearchTab__item quickSearchTab__item--result-all active" id="searchResult_all">Result all</div>
        <div class="quickSearchTab__item quickSearchTab__item--result-product" id="searchResult_product">
           {%- if predictive_search.resources.products.size > 0 -%}
            <div
              id="predictive-search-results-list"
              class="predictive-search__results-list list-unstyled"
              role="listbox"
              aria-labelledby="predictive-search-products"
            >
              {%- if predictive_search.resources.products.size > 0 -%}
                  <div class="products-grid column-{{ settings.search_product_per_row }} disable-srollbar text-left">
                    {%- for product in predictive_search.resources.products -%}
                      {%- if forloop.index <= settings.quick_search_to_show -%}
                        <div
                          class="product {{forloop.index}} {% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}"
                          {% if settings.banner_animation == 'effect_fade_up' %}
                            style="--animation-order: {{ forloop.index }};"
                          {% endif %}
                        >
                          {% render 'product-grid-layout',
                            product_card_product: product,
                            portrait_aspect_ratio: '125',
                            complementary_product_button_atc: true,
                            serial: forloop.index,
                            sectionId: section.id,
                            media_size: 'portrait',
                            hasCountdown: false,
                            loading: true
                          %}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                {%- else -%}
                  <div class="productEmpty text-center animate-arrow">
                    <a
                      class="icon-arrow search-more"
                      href="{{ routes.search_url }}?q={{ predictive_search.terms }}&type=product"
                    >
                      <span class="text">
                        {{- 'general.search.search_no_result' | t }}
                        <strong>"{{ predictive_search.terms }}"</strong></span
                      >
                      {% render 'icon-link-arrow-right' %}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
        </div>
        <div class="quickSearchTab__item quickSearchTab__item--result-collections" id="searchResult_collections">
          {%- for collection in predictive_search.resources.collections -%}
              <li
                id="predictive-search-option-collection-{{ forloop.index }}"
                class="predictive-search__list-item"
                role="option"
                aria-selected="false"
              >
                <a
                  href="{{ collection.url }}"
                  class="predictive-search__item link link--style-line u-none color-foreground border d-block"
                  tabindex="-1"
                >
                  <div class="predictive-search__item-content">
                    <img src="{{ collection.image | img_url: '300x' }}" class="hoanghiepne" style="dislay: block;">
                    <p class="predictive-search__item-heading link-style m-0 color-light d-inline-block">
                      {{ collection.title }}
                    </p>
                  </div>
                </a>
              </li>
            {%- endfor -%}
        </div>
        <div class="quickSearchTab__item quickSearchTab__item--result-articles" id="searchResult_articles">
          {%- for article in predictive_search.resources.articles -%}
                <li
                  id="predictive-search-option-article-{{ forloop.index }}"
                  class="predictive-search__list-item"
                  role="option"
                  aria-selected="false"
                >
                  <a
                    href="{{ article.url }}"
                    class="predictive-search__item link link--style-line u-none d-block color-foreground border"
                    tabindex="-1"
                  >
                    <div class="predictive-search__item-content">
                      <p class="predictive-search__item-heading link-style m-0 color-light">{{ article.title }}</p>
                    </div>
                  </a>
                </li>
              {%- endfor -%}
        </div>
        <div class="quickSearchTab__item quickSearchTab__item--result-page" id="searchResult_pages">
          {%- for page in predictive_search.resources.pages -%}
                <li
                  id="predictive-search-option-page-{{ forloop.index }}"
                  class="predictive-search__list-item"
                  role="option"
                  aria-selected="false"
                >
                  <a
                    href="{{ page.url }}"
                    class="predictive-search__item d-block link link--style-line u-none color-foreground border"
                    tabindex="-1"
                  >
                    <div class="predictive-search__item-content">
                      <p class="predictive-search__item-heading link-style m-0 color-light">{{ page.title }}</p>
                    </div>
                  </a>
                </li>
              {%- endfor -%}
        </div>
      </div>
      
      <span class="hidden" data-predictive-search-live-region-count-value>
        {% liquid
          assign total_results = predictive_search.resources.products.size | plus: first_column_results_size
          if total_results == 0
            echo 'templates.search.no_results' | t: terms: predictive_search.terms
          else
            echo 'templates.search.results_with_count' | t: count: total_results | append: ': '
            if predictive_search.resources.queries.size > 0
              assign count = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size
              echo 'templates.search.results_suggestions_with_count' | t: count: count | append: ', '
            endif
            if predictive_search.resources.pages.size > 0
              assign count = predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size
              echo 'templates.search.results_pages_with_count' | t: count: count | append: ', '
            endif
            if predictive_search.resources.products.size > 0
              echo 'general.search.view_all' | t: count: predictive_search.resources.products.size
            endif
          endif
        %}
      </span>
    </div>
  </div>
{%- endif -%}