{{ 'component-product-tab-popup.css' | asset_url | stylesheet_tag }}

{%- liquid
assign limit = section.settings.product_block_limit
assign show_product = section.settings.show_product
assign image_ratio = settings.product_block_image_ratio

assign block_title = section.settings.product_block_title

assign block_tabs = section.blocks | where: 'type', 'ProductTabs'
assign block_tab_types = section.blocks | where: 'type', 'tab_type'
assign block_tab_type_first = block_tab_types[0]

assign product_bg = section.settings.product_bg

assign product_block_sub_title = section.settings.product_block_sub_title
assign fontsize_sub_title = section.settings.fontsize_sub_title
assign color_title = section.settings.color_title
assign fontsize_title = section.settings.fontsize_title
assign fontsize_title_mb = section.settings.fontsize_title_mb
assign title_line_height = section.settings.title_line_height

assign mg_bottom_title = section.settings.mg_bottom_title
assign mg_bottom_description = section.settings.mg_bottom_description

assign fontsize_title_banner = section.settings.fontsize_title_banner
assign fontsize_title_banner_mb = section.settings.fontsize_title_banner_mb
assign fontsize_des_banner = section.settings.fontsize_des_banner
assign fontsize_des_banner_mb = section.settings.fontsize_des_banner_mb
-%}

<style>
    .section-block- {
            {
            section.id
        }
    }

        {
        background: {
                {
                product_bg
            }
        }

        ;
    }

    .section-block- {
            {
            section.id
        }
    }

    .section-introduction .sub-title {
        font-size: {
                {
                fontsize_sub_title | append: 'px'
            }
        }

        ;
        margin: 0;
        line-height: 1.2;
    }

    .section-block- {
            {
            section.id
        }
    }

    .section-introduction .title {
        color: {
                {
                color_title
            }
        }

        ;

        font-size: {
                {
                fontsize_title | append: 'px'
            }
        }

        ;

        line-height: {
                {
                title_line_height
            }
        }

        ;
        margin-top: 0;

        margin-bottom: {
                {
                mg_bottom_title | append: 'px'
            }
        }
    }

    .section-block- {
            {
            section.id
        }
    }

    .section-introduction .description {
        margin-bottom: {
                {
                mg_bottom_description | append: 'px'
            }
        }
    }

    @media (max-width: 767px) {
        .section-block- {
                {
                section.id
            }
        }

        .section-introduction .title {
            font-size: {
                    {
                    fontsize_title_mb | append: 'px'
                }
            }
        }
    }
</style>

<product-tab-popup class="section-block-{{section.id}}">
    <div class="product-tab-popup_wrapper">
        <div class="product-tab-popup_modal">
            <div class="product-tab-popup__quit">
                <span class="svg_wrapper">
                    {% render 'icon-close' %}
                </span>
            </div>
            <div class="product-tab-block halo-block halo-product-block" id="halo-product-block-{{ section.id }}"
                data-product-tab-block data-limit="{{ limit }}" data-layout="slider" sectionId="{{ section.id }}">
                <div class="halo-block-content">
                    <div class="content-top center">
                        <div class="section-introduction">
                            <p class="sub-title">{{ product_block_sub_title }}</p>
                            <h3 class="title"><span class="text">{{ block_title | escape }}</span></h3>
                            {% if block_tab_types != blank %}
                            <div class="tab-type-list">
                                {% for block in block_tab_types %}
                                {% if block.settings.title != blank %}
                                <a class="btn-tab-type {% if forloop.first %}selected{% endif %}"
                                    data-tab-type="{{ block.settings.tab_type | downcase | handle }}">{{-
                                    block.settings.title -}}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% for block in block_tab_types %}
                            <div
                                class="description type-{{ block.settings.tab_type | downcase | handle }} {% if forloop.first == false %}hidden{% endif %}">
                                {{ block.settings.description }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <product-scroller>
                            <div class="list-product-tabs-wrapper" data-drag-container>
                                <ul class="list-product-tabs-custom" data-drag-parent>
                                    {% assign tab_type_first_handle = block_tab_type_first.settings.tab_type | downcase
                                    | handle %}
                                    {%- for block in block_tabs -%}
                                    {% assign tab_type_handle = block.settings.tab_type | downcase | handle %}
                                    {% if block.settings.icon != blank and block.settings.collection != blank %}
                                    <li class="type-{{ tab_type_handle }} {% if tab_type_first_handle != blank and tab_type_first_handle != tab_type_handle %}hidden{% endif %}"
                                        data-number="{{ forloop.index0 }}">
                                        <button type="button" data-target="#product-tab-{{ section.id }}-{{ block.id }}"
                                            data-product-tabTop data-show-product="{{ show_product }}" {% if
                                            show_product
                                            %}data-href="{{ collections[block.settings.collection].url }}?view=ajax_product_block"
                                            {% else %}data-href="{{ collections[block.settings.collection].url }}" {%
                                            endif %}
                                            class="tab-links{% if forloop.first and show_product %} active{% endif %}">
                                            <div class="wrapper_svg" style="--bg-tab: {{ block.settings.bg_tab }}">
                                                {{ block.settings.icon }}
                                            </div>
                                            <div class="tab-title">
                                                {{ block.settings.title }}
                                            </div>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </product-scroller>
                    </div>
                    {% if show_product %}
                    <div class="product-tabs-content">
                        {%- liquid
                        assign column = section.settings.product_block_per_row
                        assign column = section.settings.product_block_show
                        assign dots = section.settings.product_block_dots
                        assign dots_mb = section.settings.product_block_dots_mb
                        assign arrows = section.settings.product_block_arrows
                        assign arrows_mb = section.settings.product_block_arrows_mb
                        assign enable_infinite = section.settings.enable_infinite
                        -%}
                        {%- for block in block_tabs -%}
                        <div class="tab-content{% if forloop.first %} active{% endif %}" data-product-TabContent
                            id="product-tab-{{ section.id }}-{{ block.id }}">
                            <div class="products-carousel products-load column-{{ column }}" data-item-to-show="1"
                                data-item-dots="{{ dots }}" data-item-dots-mb="{{ dots_mb }}"
                                data-item-arrows="{{ arrows }}" data-item-arrows-mb="{{ arrows_mb }}"
                                data-infinite="{{enable_infinite}}" data-variable-width="true"
                                data-outer-edge-limit="true">
                                {%- liquid
                                assign collection = block.settings.collection
                                for tag in current_tags
                                if tag contains 'limit='
                                assign limit = tag | remove: 'limit='
                                elsif tag contains 'imageRatio='
                                assign image_ratio = tag | remove: 'imageRatio='
                                elsif tag contains 'swipe='
                                assign swipe = tag | remove: 'swipe='
                                endif
                                endfor
                                -%}
                                {%- if collection.products[0] != nil or collection != blank -%}
                                {%- for product in collection.products limit: limit -%}
                                <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
                                    {% render 'product-card-loading',
                                    product_card_product: product,
                                    media_size: image_ratio,
                                    portrait_aspect_ratio: '133'
                                    %}
                                </div>
                                {%- endfor -%}
                                {% liquid
                                assign image_right = block.settings.image_right
                                assign title_right = block.settings.title_right
                                assign description_right = block.settings.description_right
                                assign text_link_right = block.settings.text_link_right
                                assign link_right = block.settings. link_right
                                %}
                                {% if image_right != blank and collection.products[0] != nil %}
                                <banner-tabs class="product">
                                    <div class="column-banner">
                                        <a href="{{- link_right -}}" class="image adaptive_height image-zoom w-100"
                                            style="padding-top: 100.0%" title="QMCar">
                                            <img src="{{ image_right | img_url: 'master' }}"
                                                width="{{ image_right.width }}" height="{{ image_right.height }}"
                                                alt="{{ image_right.alt | default: shop.name | escape }}">
                                            <div class="promo-text">
                                                <h4 class="promo-text-heading"
                                                    style="--fontsize_title_banner: {{ fontsize_title_banner }}px; --fontsize_title_banner_mb: {{ fontsize_title_banner_mb }}px;">
                                                    {{- title_right -}}</h4>
                                                <span class="promo-text-des"
                                                    style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">{{-
                                                    description_right -}}</span>
                                                {% if text_link_right != blank %}
                                                <div class="button button--primary"
                                                    style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">
                                                    <span>{{- text_link_right -}}</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                </banner-tabs>
                                {% endif %}
                                {%- endif -%}
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</product-tab-popup>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        class ProductTabPopup extends HTMLElement {
            constructor() {
                super();
                const openButton = document.querySelectorAll("a[href='#show-product-tab-popup']");
                const closeButton = this.querySelector(".product-tab-popup__quit");
                openButton.forEach(button => {
                    button.addEventListener("click", this.showModal);
                });
                closeButton.addEventListener("click", this.closeModal);
            }
            showModal = (e) => {
                e.preventDefault();
                this.classList.add("active");
            };

            closeModal = () => {
                this.classList.remove("active");
            };
        }

        customElements.define("product-tab-popup", ProductTabPopup);
    });
</script>

{% schema %}
{
    "name": "Product tabs popup",
    "class": "sections-product-tab",
    "limit": 1,
    "settings": [
        {
        "type": "header",
        "content": "t:settings_schema.general.name"
        },
        {
        "type" : "checkbox",
        "id" : "show_product",
        "label": "Show product",
        "default" : true
        },
        {
        "type" : "color",
        "id" : "product_bg",
        "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
        "default" : "#f8f8f8"
        },
        {
        "type": "range",
        "id": "product_block_limit",
        "label": "t:settings_schema.quick_search.settings.general.label__2",
        "min": 3,
        "max": 20,
        "step": 1,
        "default": 8
        },
        {
        "type": "header",
        "content": "t:sections.image-banner.blocks.image.settings.content.section_header"
        },
        {
        "type": "text",
        "id": "product_block_sub_title",
        "label": "Sub title",
        "default": "Schnellempfehlung"
        },
        {
        "type": "range",
        "id": "fontsize_sub_title",
        "label": "Sub title font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
        },
        {
        "type": "text",
        "id": "product_block_title",
        "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
        "default": "Trending Now"
        },
        {
        "type": "range",
        "id": "fontsize_title",
        "label": "t:settings_schema.typography.settings.typography.title_font_size",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 28
        },
        {
        "type": "range",
        "id": "fontsize_title_mb",
        "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 28
        },
        {
        "type": "range",
        "id": "title_line_height",
        "label": "t:settings_schema.typography.settings.typography.label__1",
        "min": 0,
        "max": 10,
        "step": 0.1,
        "default": 1.3
        },
        {
        "type": "range",
        "id": "mg_bottom_title",
        "label": "t:settings_schema.typography.settings.typography.title_margin_bottom",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 20
        },
        {
        "type" : "color",
        "id" : "color_title",
        "label": "t:settings_schema.typography.settings.typography.title_color",
        "default" : "#232323"
        },
        {
        "type": "select",
        "id": "title_align",
        "label": "t:sections.general.settings.aligmnent.label__1",
        "options": [
        {
        "value": "left",
        "label": "t:settings_schema.typography.settings.type_button_font.left"
        },
        {
        "value": "center",
        "label": "t:settings_schema.typography.settings.type_button_font.center"
        },
        {
        "value": "right",
        "label": "t:settings_schema.typography.settings.type_button_font.right"
        }],
        "default": "center"
        },
        {
        "type": "range",
        "id": "mg_bottom_description",
        "label": "t:settings_schema.typography.settings.typography.des_margin_bottom",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 32
        },
        {
        "type": "header",
        "content": "Tab banner"
        },
        {
        "type": "range",
        "id": "fontsize_title_banner",
        "label": "t:settings_schema.typography.settings.typography.title_font_size",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 28
        },
        {
        "type": "range",
        "id": "fontsize_title_banner_mb",
        "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 24
        },
        {
        "type": "range",
        "id": "fontsize_des_banner",
        "label": "t:settings_schema.typography.settings.typography.des_font_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 16
        },
        {
        "type": "range",
        "id": "fontsize_des_banner_mb",
        "label": "t:settings_schema.typography.settings.typography.des_font_size_mb",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 14
        },
        {
        "type": "header",
        "content": "t:sections.product_block.settings.slider.content"
        },
        {
        "type": "checkbox",
        "id": "product_block_dots",
        "label": "t:sections.product_block.settings.slider.product_block_dots_desk",
        "default": false
        },
        {
        "type": "checkbox",
        "id": "product_block_dots_mb",
        "label": "t:sections.product_block.settings.slider.product_block_dots_mb",
        "default": false
        },
        {
        "type": "checkbox",
        "id": "product_block_arrows",
        "label": "t:sections.product_block.settings.slider.product_block_arrows_desk",
        "default": true
        },
        {
        "type": "checkbox",
        "id": "enable_infinite",
        "label": "t:sections.instagram.settings.enable_infinite",
        "default": true
        },
        {
        "type": "select",
        "id": "product_block_show",
        "label": "t:sections.product_block.settings.grid.product_block_per_row",
        "options": [
        {
        "value": "3",
        "label": "3"
        },
        {
        "value": "3.5",
        "label": "3.5"
        },
        {
        "value": "4",
        "label": "4"
        },
        {
        "value": "4.5",
        "label": "4.5"
        },
        {
        "value": "5",
        "label": "5"
        },
        {
        "value": "5.5",
        "label": "5.5"
        },
        {
        "value": "6",
        "label": "6"
        }
        ],
        "default": "4"
        }
        ],
        "blocks" : [
        {
        "type" : "ProductTabs",
        "name" : "t:sections.product_tab_block.block_name",
        "settings":[
        {
        "type": "text",
        "id": "tab_type",
        "label": "Tab type"
        },
        {
        "type": "color",
        "id": "bg_tab",
        "label": "Background"
        },
        {
        "type": "textarea",
        "id": "icon",
        "label": "Icon"
        },
        {
        "type" : "text",
        "id" : "title",
        "label" : "t:sections.image-banner.blocks.image.settings.content.label__1",
        "default" : "Womens"
        },
        {
        "type" : "collection",
        "id" : "collection",
        "label" : "t:settings_schema.typography.settings.typography.collection"
        },
        {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image"
        },
        {
        "type": "text",
        "id": "title_right",
        "label": "Title"
        },
        {
        "type": "richtext",
        "id": "description_right",
        "label": "Description"
        },
        {
        "type": "text",
        "id": "text_link_right",
        "label": "Text link"
        },
        {
        "type": "url",
        "id": "link_right",
        "label": "Link"
        }
        ]
        },
        {
        "type": "tab_type",
        "name": "Tab type",
        "settings": [
        {
        "type": "text",
        "id": "tab_type",
        "label": "Type"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Title"
        },
        {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Von Achtsamkeit über Sport bis Anti-Aging: Entdecke unsere <strong>Kategorien für jeden Lifestyle.</strong>Unterstütze deinen Körper von innen, um immer in deinem Element zu sein.</p>"
        }
        ]
        }
        ],
        "presets": [
        {
        "name": "Product tabs popup",
        "blocks": [
        {
        "type": "ProductTabs"
        },
        {
        "type": "ProductTabs"
        },
        {
        "type": "ProductTabs"
        }
        ]
        }
    ]
}
{% endschema %}