{{ 'component-product-tab-custom.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign container = section.settings.container
    assign limit = section.settings.product_block_limit
    assign show_product = section.settings.show_product
    assign image_ratio = settings.product_block_image_ratio

    assign block_title = section.settings.product_block_title

    assign block_tabs = section.blocks | where: 'type', 'ProductTabs'
    assign block_tab_types = section.blocks | where: 'type', 'tab_type'
    assign block_tab_type_first = block_tab_types[0]

    assign product_bg = section.settings.product_bg
    assign banner_bg = section.settings.banner_bg

    assign color_title = section.settings.color_title
    assign fontsize_title = section.settings.fontsize_title
    assign fontsize_title_mb = section.settings.fontsize_title_mb
    assign title_line_height = section.settings.title_line_height

    assign mg_top_desktop = section.settings.mg_top_desktop
    assign mg_top_tablet = section.settings.mg_top_tablet
    assign mg_top_mobile = section.settings.mg_top_mobile

    assign mg_bottom_desktop = section.settings.mg_bottom_desktop
    assign mg_bottom_tablet = section.settings.mg_bottom_tablet
    assign mg_bottom_mobile = section.settings.mg_bottom_mobile

    assign mg_top_desktop_banner = section.settings.mg_top_desktop_banner
    assign mg_top_tablet_banner = section.settings.mg_top_tablet_banner
    assign mg_top_mobile_banner = section.settings.mg_top_mobile_banner

    assign mg_bottom_desktop_banner = section.settings.mg_bottom_desktop_banner
    assign mg_bottom_tablet_banner = section.settings.mg_bottom_tablet_banner
    assign mg_bottom_mobile_banner = section.settings.mg_bottom_mobile_banner

    assign padding_full_width = section.settings.padding_full_width

    assign mg_bottom_title = section.settings.mg_bottom_title
    assign mg_bottom_description = section.settings.mg_bottom_description

    assign fontsize_title_banner = section.settings.fontsize_title_banner
    assign fontsize_title_banner_mb = section.settings.fontsize_title_banner_mb
    assign fontsize_des_banner = section.settings.fontsize_des_banner
    assign fontsize_des_banner_mb = section.settings.fontsize_des_banner_mb
-%}
<style>
    .section-block-{{section.id}} {
        background: {{ product_bg }};
    }
    banner-tabs.section-block-{{section.id}} {
        background: {{ banner_bg }};
    }
    .section-block-{{section.id}} .section-introduction .title {
        color: {{ color_title }};
        font-size: {{ fontsize_title | append: 'px'  }}; 
        line-height: {{ title_line_height }};
        margin-top: 0; 
        margin-bottom: {{ mg_bottom_title | append: 'px' }}
    }
    .section-block-{{section.id}} .section-introduction .description {
        margin-bottom: {{ mg_bottom_description | append: 'px' }}
    }
    @media (min-width: 1200px){
        .section-block-{{section.id}} {padding-top: {{ mg_top_desktop | append: 'px' }};padding-bottom: {{ mg_bottom_desktop | append: 'px' }}}
        banner-tabs.section-block-{{section.id}} {padding-top: {{ mg_top_desktop_banner | append: 'px' }};padding-bottom: {{ mg_bottom_desktop_banner | append: 'px' }}}
    }
    @media (min-width: 1025px) {
        {%- if section.settings.container == 'fullwidth' -%}
            .section-block-{{section.id}} .container-full {padding-left: {{ padding_full_width | append: 'px' }};padding-right: {{ padding_full_width | append: 'px' }}}
        {%- endif -%}
        {%- if section.settings.product_block_show == '3.5' or section.settings.product_block_show == '4.5' -%}
            .section-block-{{section.id}} .container-full {padding-left: {{ padding_full_width | append: 'px' }};padding-right: 0;}
        {%- endif -%}
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        .section-block-{{section.id}} {padding-top: {{ mg_top_tablet | append: 'px' }};padding-bottom: {{ mg_bottom_tablet | append: 'px' }}}
        banner-tabs.section-block-{{section.id}} {padding-top: {{ mg_top_tablet_banner | append: 'px' }};padding-bottom: {{ mg_bottom_tablet_banner | append: 'px' }}}
    }
    @media (max-width: 767px) {
        .section-block-{{section.id}} {padding-top: {{ mg_top_mobile | append: 'px' }};padding-bottom: {{ mg_bottom_mobile | append: 'px' }}}
        banner-tabs.section-block-{{section.id}} {padding-top: {{ mg_top_mobile_banner | append: 'px' }};padding-bottom: {{ mg_bottom_mobile_banner | append: 'px' }}}
        .section-block-{{section.id}} .section-introduction .title {font-size: {{ fontsize_title_mb | append: 'px'  }}}
    }

    .section-block-{{section.id}} .layout-body--custom_width {
        padding-left: 20px;
        padding-right: 0;
    }
    @media screen and (min-width: 767px) {
        .section-block-{{section.id}} .layout-body--custom_width {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media screen and (min-width: 960px) {
        .section-block-{{section.id}} .layout-body--custom_width {
            padding-left: 148px;
            padding-right: 32px;
        }
    }
    @media screen and (min-width: 1450px) {
        .section-block-{{section.id}} .layout-body--custom_width {
            padding-left: 32px;
        }
    }

    .section-block-{{section.id}}.no-product .layout-body--custom_width {
        padding-left: 25px;
        padding-right: 25px;
    }

    product-tabs-custom-section banner-tabs.section-block-{{section.id}} .layout-body--custom_width {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

</style>
<product-tabs-custom-section>
<div class="product-tab-block product-block section-block-{{section.id}} {% if show_product == false %}no-product{% endif %} {% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
    <div class="halo-block halo-product-block" id="halo-product-block-{{ section.id }}" data-product-tab-block data-limit="{{ limit }}" data-layout="slider" sectionId="{{ section.id }}">
         <div class="{% if container == '1170' %}container-1170{% elsif container == '1770' %}container-1770{% elsif container == 'fullwidth'%}container-full{% else %}container layout-body--{{ settings.layout_body }}{% endif %}">
            <div class="halo-block-content">
                <div class="content-top">
                    <div class="section-introduction">
                        <h3 class="title"><span class="text">{{ block_title | escape }}</span></h3>
                        {% if block_tab_types != blank %}
                            <div class="tab-type-list">
                                {% for block in block_tab_types %}
                                    {% if block.settings.title != blank %}
                                        <a class="btn-tab-type {% if forloop.first %}selected{% endif %}" data-tab-type="{{ block.settings.tab_type | downcase | handle }}">{{- block.settings.title -}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% for block in block_tab_types %}
                                <div class="description type-{{ block.settings.tab_type | downcase | handle }} {% if forloop.first == false %}hidden{% endif %}">
                                    {{ block.settings.description }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        <product-scroller>
                            <div class="list-product-tabs-wrapper" data-drag-container>
                                <ul class="list-product-tabs-custom" data-drag-parent>
                                    {%  assign tab_type_first_handle = block_tab_type_first.settings.tab_type | downcase | handle %}
                                    {%- for block in block_tabs -%}
                                        {% assign tab_type_handle = block.settings.tab_type |  downcase | handle %} 
                                        {% if block.settings.icon != blank and block.settings.collection != blank %}
                                        <li class="type-{{ tab_type_handle }} {% if tab_type_first_handle != blank and tab_type_first_handle != tab_type_handle %}hidden{% endif %}" data-number="{{ forloop.index0 }}">
                                        <button type="button" data-target="#product-tab-{{ section.id }}-{{ block.id }}" data-product-tabTop data-show-product="{{ show_product }}" {% if show_product %}data-href="{{ collections[block.settings.collection].url }}?view=ajax_product_block"{% else %}data-href="{{ collections[block.settings.collection].url }}"{% endif %} class="tab-links{% if forloop.first and show_product %} active{% endif %}">
                                                <div class="wrapper_svg" style="--bg-tab: {{ block.settings.bg_tab }}">
                                                    {{ block.settings.icon }}
                                                </div>
                                                <div class="tab-title">
                                                    {{ block.settings.title }}
                                                </div>
                                            </button>
                                        </li>
                                        {% endif %}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </product-scroller>
                </div>
                {% if show_product %}
                    <div class="product-tabs-content">
                        {%- liquid
                            assign column = section.settings.product_block_per_row
                            assign column = section.settings.product_block_show
                            assign dots = section.settings.product_block_dots
                            assign dots_mb = section.settings.product_block_dots_mb
                            assign arrows = section.settings.product_block_arrows
                            assign arrows_mb = section.settings.product_block_arrows_mb
                            assign enable_infinite = section.settings.enable_infinite
                        -%}
                        {%- for block in block_tabs -%}
                            <div class="tab-content{% if forloop.first %} active{% endif %}" data-product-TabContent id="product-tab-{{ section.id }}-{{ block.id }}">
                                <div class="products-carousel products-load column-{{ column }}" data-item-to-show="{{ column }}" data-item-dots="{{ dots }}" data-item-dots-mb="{{ dots_mb }}" data-item-arrows="{{ arrows }}" data-item-arrows-mb="{{ arrows_mb }}" data-infinite="{{enable_infinite}}" data-variable-width="true">
                                        {%- liquid
                                            assign collection = block.settings.collection
                                            for tag in current_tags 
                                                if tag contains 'limit='
                                                    assign limit = tag | remove: 'limit='
                                                elsif tag contains 'sectionId='
                                                    assign sectionId = tag | remove: 'sectionId='
                                                elsif tag contains 'imageRatio='
                                                    assign image_ratio = tag | remove: 'imageRatio='
                                                elsif tag contains 'swipe='
                                                    assign swipe = tag | remove: 'swipe='
                                                elsif tag contains 'hasCountdown='
                                                    assign hasCountdown = tag | remove: 'hasCountdown='
                                                endif
                                            endfor
                                        -%}
                                        {%- if collection.products[0] != nil or collection != blank -%}
                                            {%- for product in collection.products limit: limit -%}
                                                <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
                                                    {% render 'product-card-loading',
                                                        product_card_product: product,
                                                        media_size: image_ratio,
                                                        portrait_aspect_ratio: '133'
                                                    %}
                                                </div>
                                            {%- endfor -%}
                                        {%- endif -%}
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                {% endif %}
            </div>
         </div>
    </div>
</div>
<banner-tabs class="section-block-{{section.id}} {% if show_product == false %}no-product{% endif %}">
     <div class="{% if container == '1170' %}container-1170{% elsif container == '1770' %}container-1770{% elsif container == 'fullwidth'%}container-full{% else %}container layout-body--custom_width{% endif %}">
        {%- for block in block_tabs -%}
            {%- liquid  
                 assign image_first = block.settings.image_first
                 assign image_left = block.settings.image_left
                 assign title_left = block.settings.title_left
                 assign description_left = block.settings.description_left
                 assign text_link_left = block.settings.text_link_left
                 assign link_left = block.settings.link_left
                 assign image_right = block.settings.image_right
                 assign title_right = block.settings.title_right
                 assign description_right = block.settings.description_right
                 assign text_link_right = block.settings.text_link_right
                 assign link_right = block.settings. link_right
            -%}
            {% if image_left != blank or link_right != blank %}
                <div class="halo-block-content-bottom {% if forloop.first == false %}hidden{% endif %} {% if settings.banner_animation == 'effect_fade_up' %}scroll-trigger animate--slide-in{% endif %}" data-number="{{ forloop.index0 }}">
                    <div class="column-text">
                        <product-scroller>
                            <div class="list-product-tabs-wrapper" data-drag-container>
                                <ul class="list-product-tabs-custom" data-drag-parent>
                                    {%  assign tab_type_first_handle = block_tab_type_first.settings.tab_type | downcase | handle %}
                                    {%- for block_2 in block_tabs -%}
                                        {% assign tab_type_handle = block_2.settings.tab_type |  downcase | handle %} 
                                        {% if block_2.settings.icon != blank %}
                                            {% if  block_2.settings.image_left != blank or  block_2.settings.link_right != blank %}
                                                <li class="type-{{ tab_type_handle }} {% if tab_type_first_handle != blank and tab_type_first_handle != tab_type_handle %}hidden{% endif %}" data-number="{{ forloop.index0 }}">
                                                    <button type="button" data-target="#product-tab-{{ section.id }}-{{ block_2.id }}" data-product-tabTop data-href="{{ collections[block_2.settings.collection].url }}?view=ajax_product_block" class="tab-links{% if block.id == block_2.id %} active{% endif %}">
                                                        <div class="wrapper_svg" style="--bg-tab: {{ block_2.settings.bg_tab }}">
                                                            {{ block_2.settings.icon }}
                                                        </div>
                                                        {% if block_2.settings.title != blank %}
                                                            <div class="tab-title">
                                                                {{ block_2.settings.title }}
                                                            </div>
                                                        {% endif %}
                                                    </button>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </product-scroller>
                        <div class="column-text__column {% if image_first == false %}row-reverse{% endif %}">
                            {% if image_left %}
                                <div class="column-text__img">
                                        <img src="{{ image_left | img_url: 'master' }}" 
                                             width="{{ image_left.width }}"
                                             height="{{ image_left.height }}"
                                             alt="{{ image_left.alt | default: shop.name | escape }}">
                                </div>
                            {% endif %}
                            {% if title_left != blank %}
                                <div class="column-text__text-wrap">
                                    <div class="column-text__text">
                                        <h2 class="column-text__title" style="--fontsize_title_banner: {{ fontsize_title_banner }}px; --fontsize_title_banner_mb: {{ fontsize_title_banner_mb }}px;">{{- title_left -}}</h2>
                                        <div class="column-text__description" style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">
                                                {{- description_left -}}
                                            </div>
                                    </div>
                                    <div class="column-text__link" style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">
                                        <a href="{{- link_left -}}">{{- text_link_left -}}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if image_right != blank %}
                        <div class="column-banner">
                                <a href="{{- link_right -}}" class="image adaptive_height image-zoom w-100" style="padding-top: 100.0%" title="QMCar">
                                
                                        <img src="{{ image_right | img_url: 'master' }}"
                                             width="{{ image_right.width }}"
                                             height="{{ image_right.height }}"
                                             alt="{{ image_right.alt | default: shop.name | escape }}">
                                
                                    <div class="promo-text">
                                        <h4 class="promo-text-heading" style="--fontsize_title_banner: {{ fontsize_title_banner }}px; --fontsize_title_banner_mb: {{ fontsize_title_banner_mb }}px;">{{- title_right -}}</h4>
                                        <span class="promo-text-des" style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">{{- description_right -}}</span>
                                        {% if text_link_right != blank %}
                                            <div class="button button--primary" style="--fontsize_des_banner: {{ fontsize_des_banner }}px; --fontsize_des_banner_mb: {{ fontsize_des_banner_mb }}px;">
                                                <span>{{- text_link_right -}}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                            </a>  
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
</banner-tabs>
</product-tabs-custom-section>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.section-block-{{section.id}} .btn-tab-type');
    const tabLinks = document.querySelectorAll('.section-block-{{section.id}} [data-product-tabTop]');
    const descriptions = document.querySelectorAll('.section-block-{{section.id}} .content-top .description');
    const tabs = document.querySelectorAll('.section-block-{{section.id}} .content-top .list-product-tabs-custom li');
    const banners = document.querySelectorAll('.section-block-{{section.id}} .halo-block-content-bottom');

    buttons.forEach(button => {
      button.addEventListener('click', function() {
        buttons.forEach(btn => btn.classList.remove('selected'));
        this.classList.add('selected');
        const tab_type_data = this.getAttribute('data-tab-type');
        descriptions.forEach(item => {
            if (item.classList.contains(`type-${tab_type_data}`)) {
                item.classList.remove('hidden');
            } else {
                item.classList.add('hidden');
            }
        });
        let isActive = false
        tabs.forEach(item => {
            if (item.classList.contains(`type-${tab_type_data}`)) {
                item.classList.remove('hidden');
                if(!isActive){
                    const tabLink = item.querySelector('[data-product-tabTop]');
                    if (tabLink) tabLink.click();
                    isActive = true
                }
            } else {
                item.classList.add('hidden');
            }
        });
      });
    });

    tabLinks.forEach(link => {
        link.addEventListener('click', function() {
            const parentLi = this.closest('li');
            const position = parseInt(parentLi.getAttribute('data-number'));
            banners.forEach((item, index) => {
            const positionItem = parseInt(item.getAttribute('data-number'));
            if (positionItem === position) {
                item.classList.remove('hidden');
            } else {
                item.classList.add('hidden');
            }
            });
        })
    })
  });
</script>

{% schema %}
{
    "name": "Product tabs custom",
    "class": "sections-product-tab",
    "settings": [
        {
            "type": "header",
            "content": "t:settings_schema.general.name"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.layout.container.option",
            "default": "container",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.layout.container.option1"
                },
                {
                    "value": "1170",
                    "label": "t:sections.layout.container.option4"
                },
                {
                    "value": "1770",
                    "label": "t:sections.layout.container.option3"
                },
                {
                    "value": "fullwidth",
                    "label": "t:sections.layout.container.option2"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_full_width",
            "label": "t:sections.layout.container.padding_full_width",
            "min": 0,
            "max": 50,
            "step": 5,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 0
        },
        {
            "type" : "checkbox",
            "id" : "show_product",
            "label": "Show product",
            "default" : true
        },
        {
            "type" : "color",
            "id" : "product_bg",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
            "default" : "#f8f8f8"
        },
        {
            "type": "range",
            "id": "product_block_limit",
            "label": "t:settings_schema.quick_search.settings.general.label__2",
            "min": 3,
            "max": 20,
            "step": 1,
            "default": 8
        },
        {
            "type": "header",
            "content": "t:sections.image-banner.blocks.image.settings.content.section_header"
        },
        {
            "type": "text",
            "id": "product_block_title",
            "label": "t:sections.image-banner.blocks.image.settings.content.label__1",
            "default": "Trending Now"
        },
        {
            "type": "range",
            "id": "fontsize_title",
            "label": "t:settings_schema.typography.settings.typography.title_font_size",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 40
        },
        {
            "type": "range",
            "id": "fontsize_title_mb",
            "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 32
        },
        {
            "type": "range",
            "id": "title_line_height",
            "label": "t:settings_schema.typography.settings.typography.label__1",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "default": 1.3
        },
        {
            "type": "range",
            "id": "mg_bottom_title",
            "label": "t:settings_schema.typography.settings.typography.title_margin_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 20
        },
        {
            "type" : "color",
            "id" : "color_title",
            "label": "t:settings_schema.typography.settings.typography.title_color",
            "default" : "#232323"
        },
        {
            "type": "select",
            "id": "title_align",
            "label": "t:sections.general.settings.aligmnent.label__1",
            "options": [
            {
                "value": "left",
                "label": "t:settings_schema.typography.settings.type_button_font.left"
            },
            {
                "value": "center",
                "label": "t:settings_schema.typography.settings.type_button_font.center"
            },
            {
                "value": "right",
                "label": "t:settings_schema.typography.settings.type_button_font.right"
            }],
            "default": "center"
        },
        {
            "type": "range",
            "id": "mg_bottom_description",
            "label": "t:settings_schema.typography.settings.typography.des_margin_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 32
        },
        {
            "type": "header",
            "content": "Tab banner"
        },
        {
            "type" : "color",
            "id" : "banner_bg",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
            "default" : "#fff"
        },
        {
            "type": "range",
            "id": "fontsize_title_banner",
            "label": "t:settings_schema.typography.settings.typography.title_font_size",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 28
        },
        {
            "type": "range",
            "id": "fontsize_title_banner_mb",
            "label": "t:settings_schema.typography.settings.typography.title_font_size_mb",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 24
        },
        {
            "type": "range",
            "id": "fontsize_des_banner",
            "label": "t:settings_schema.typography.settings.typography.des_font_size",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 16
        },
        {
            "type": "range",
            "id": "fontsize_des_banner_mb",
            "label": "t:settings_schema.typography.settings.typography.des_font_size_mb",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 14
        },
        {
            "type": "header",
            "content": "t:sections.product_block.settings.slider.content"
        },
        {
            "type": "checkbox",
            "id": "product_block_dots",
            "label": "t:sections.product_block.settings.slider.product_block_dots_desk",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "product_block_dots_mb",
            "label": "t:sections.product_block.settings.slider.product_block_dots_mb",
            "default": false
        },  
        {
            "type": "checkbox",
            "id": "product_block_arrows",
            "label": "t:sections.product_block.settings.slider.product_block_arrows_desk",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_infinite",
            "label": "t:sections.instagram.settings.enable_infinite",
            "default": true
        },
        {
            "type": "select",
            "id": "product_block_show",
            "label": "t:sections.product_block.settings.grid.product_block_per_row",
            "options": [
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "3.5",
                    "label": "3.5"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "4.5",
                    "label": "4.5"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ],
            "default": "4"
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_top"
        },
        {
            "type": "range",
            "id": "mg_top_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_bottom"
        },
        {
            "type": "range",
            "id": "mg_bottom_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "header",
            "content": "Section top padding banner"
        },
        {
            "type": "range",
            "id": "mg_top_desktop_banner",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_top_tablet_banner",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_top_mobile_banner",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "header",
            "content": "Section bottom padding banner"
        },
        {
            "type": "range",
            "id": "mg_bottom_desktop_banner",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_bottom_tablet_banner",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        },
        {
            "type": "range",
            "id": "mg_bottom_mobile_banner",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 0
        }
    ],
    "blocks" : [
        {
            "type" : "ProductTabs",
            "name" : "t:sections.product_tab_block.block_name",
            "settings":[
                {
                    "type": "text",
                    "id": "tab_type",
                    "label": "Tab type"
                },
                {
                    "type": "color",
                    "id": "bg_tab",
                    "label": "Background"
                },
                {
                    "type": "textarea",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : "t:sections.image-banner.blocks.image.settings.content.label__1",
                    "default" : "Womens"
                },
                {
                    "type" : "collection",
                    "id" : "collection",
                    "label" : "t:settings_schema.typography.settings.typography.collection"
                },
                {
                    "type": "header",
                    "content": "Content left"
                },
                {
                    "type": "checkbox",
                    "id": "image_first",
                    "label": "Image first",
                    "default": true
                },
                {
                    "type": "image_picker",
                    "id": "image_left",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title_left",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description_left",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "text_link_left",
                    "label": "Text link"
                },
                {
                    "type": "url",
                    "id": "link_left",
                    "label": "Link"
                },
                {
                    "type": "header",
                    "content": "Content right"
                },
                {
                    "type": "image_picker",
                    "id": "image_right",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title_right",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description_right",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "text_link_right",
                    "label": "Text link"
                },
                {
                    "type": "url",
                    "id": "link_right",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "tab_type",
            "name": "Tab type",
            "settings": [
                {
                    "type": "text",
                    "id": "tab_type",
                    "label": "Type"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Von Achtsamkeit über Sport bis Anti-Aging: Entdecke unsere <strong>Kategorien für jeden Lifestyle. </strong>Unterstütze deinen Körper von innen, um immer in deinem Element zu sein.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product tabs custom",
            "blocks": [
                {
                    "type": "ProductTabs"
                },
                {
                    "type": "ProductTabs"
                },
                {
                    "type": "ProductTabs"
                }
            ]
        }
    ]
}
{% endschema %}