{%- liquid
        assign bg_color_text = section.settings.bg_color_text
        assign bg_color_text_gradient = section.settings.bg_color_text_gradient
        assign color_text = section.settings.color_text
       
        assign mg_top_desktop = section.settings.mg_top_desktop
        assign mg_top_tablet = section.settings.mg_top_tablet
        assign mg_top_mobile = section.settings.mg_top_mobile

        assign mg_bottom_desktop = section.settings.mg_bottom_desktop
        assign mg_bottom_tablet = section.settings.mg_bottom_tablet
        assign mg_bottom_mobile = section.settings.mg_bottom_mobile

        assign padding_full_width = section.settings.padding_full_width

        assign menu = section.settings.menu.links

        assign font_size_text = section.settings.font_size_text | append: 'px'
        assign font_style_text = section.settings.font_style_text
        assign font_weight_text = section.settings.font_weight_text
    -%}

<style type="text/css">
    .section-block-{{section.id}}.quick-menu {
        display: block;
        background: {% if bg_color_text_gradient != blank %}{{ bg_color_text_gradient }}{% else %}{{ bg_color_text }}{% endif %};
    }
    .section-block-{{section.id}}.quick-menu .container {
        width: fit-content;
    }
    .section-block-{{section.id}}.quick-menu .halo-row{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: clip;
        gap: 64px;
    }
    .section-block-{{section.id}}.quick-menu .halo-row::-webkit-scrollbar {
        display: none;
    }
    .section-block-{{section.id}}.quick-menu .halo-row .halo-item{
        font-size: {{ font_size_text }};
        font-weight: {{ font_weight_text }};
        font-style: {{ font_style_text }};
        color: {{ color_text }};
        text-wrap: nowrap;
        -webkit-user-drag: none;
        user-drag: none;
        user-select: none;
    }
    @media (max-width: 767px){
        .section-block-{{section.id}} {
            padding-top: {{ mg_top_mobile | append: 'px' }};
            padding-bottom: {{ mg_bottom_mobile | append: 'px' }};
        }
        .section-block-{{section.id}}.quick-menu .halo-row{
            gap: 24px;
        }
    }

    @media (min-width: 1200px) {
        .section-block-{{section.id}} {
            padding-top: {{ mg_top_desktop | append: 'px' }};
            padding-bottom: {{ mg_bottom_desktop | append: 'px' }};
        }
    }

    @media (min-width: 1025px) {
        {% if section.settings.container == 'fullwidth' %}
            .section-block-{{section.id}} .container-full {
                padding-left: {{ padding_full_width | append: 'px' }};
                padding-right: {{ padding_full_width | append: 'px' }};
            }
        {% endif %}
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .section-block-{{section.id}} {
            padding-top: {{ mg_top_tablet | append: 'px' }};
            padding-bottom: {{ mg_bottom_tablet | append: 'px' }};
        }
    }
</style>
{% if menu != blank %}
    <product-scroller class="section-block-{{section.id}} quick-menu">
        <div class="container container-{{ section.settings.container }}" data-drag-container>
            <div class="halo-row" data-drag-parent>
                {%- for link in menu -%}
                    <a class="halo-item" data-drag-item href="{{ link.url }}">{{ link.title }}</a>
                {%- endfor -%}
            </div>
        </div>
    </product-scroller>
{% endif %}

<script>

</script>

{% schema %}
    {
    "name": "Quick menu",
    "settings": [
        {
            "type": "header",
            "content": "t:settings_schema.general.name"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.layout.container.option",
            "default": "1770",
            "options": [
                {
                    "value": "1170",
                    "label": "t:sections.layout.container.option4"
                },
                {
                    "value": "1370",
                    "label": "t:sections.layout.container.option8"
                },
                {
                    "value": "1470",
                    "label": "t:sections.layout.container.option5"
                },
                {
                    "value": "1570",
                    "label": "t:sections.layout.container.option6"
                },
                {
                    "value": "1770",
                    "label": "t:sections.layout.container.option3"
                },
                {
                    "value": "full",
                    "label": "t:sections.layout.container.option2"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_full_width",
            "label": "t:sections.layout.container.padding_full_width",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.fontsize.fontsize_title.unit",
            "default": 0
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "t:sections.header.settings.menu.label__1",
            "default": "main-menu"
        },
        {
        "type": "color",
        "id": "color_text",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.color_text",
        "default": "#212121"
        },
        {
        "type": "color",
        "id": "bg_color_text",
        "label": "t:settings_schema.colors.settings.colors_name.background_color",
        "default": "#f8f8f8"
        },
        {
        "type": "color_background",
        "id": "bg_color_text_gradient",
        "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        },
        {
        "type": "range",
        "id": "font_size_text",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.font_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 12
        },
        {
        "type": "select",
        "id": "font_style_text",
        "label": "t:sections.general.settings.typography.font_style",
        "default": "normal",
        "options": [
            {
            "value": "normal",
            "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
            "value": "italic",
            "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
            "value": "oblique",
            "label": "t:settings_schema.typography.settings.font_style.options__3"
            }
        ]
        },
        {
        "type": "select",
        "id": "font_weight_text",
        "label": "t:settings_schema.typography.settings.font_weight.label",
        "default": "500",
        "options": [
            {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }
        ]
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_top"
        },
        {
            "type": "range",
            "id": "mg_top_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        },
        {
            "type": "range",
            "id": "mg_top_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        },
        {
            "type": "range",
            "id": "mg_top_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_bottom"
        },
        {
            "type": "range",
            "id": "mg_bottom_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        },
        {
            "type": "range",
            "id": "mg_bottom_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        },
        {
            "type": "range",
            "id": "mg_bottom_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 5
        }
    ],
    "presets": [
        {
        "name": "Quick menu"
        }
    ]
    }
{% endschema %}